<ion-content [fullscreen]="true">
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div>
  <div class="circleBase type2 circle2"></div>

  <ion-label class="welcomeMessage">
    <ion-text color="light">{{ 'SIGNUP.HELLO' | translate }}</ion-text>
    <ion-text color="light">
      <p>{{ 'SIGNUP.TITLE' | translate }}</p>
    </ion-text>
  </ion-label>

  <ion-icon
    name="arrow-back-outline"
    color="light"
    class="backButton"
    routerLink="/login">
  </ion-icon>

  <form [formGroup]="signupForm">
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
      <ion-button class="but" expand="full" routerLink="/register" color="primary">{{ 'SIGNUPD.I_AM_DOCTOR' | translate }}</ion-button>
      <ion-item class="ion-margin-vertical">
        <ion-icon
          name="person-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input
          formControlName="username"
          [placeholder]="'SIGNUPD.USERNAME_PLACEHOLDER' | translate">
        </ion-input>
      </ion-item>
      <ion-text
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">
        <p class="error">{{ 'SIGNUPD.USERNAME_ERROR' | translate }}</p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon
          name="mail-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input
          formControlName="email"
          [placeholder]="'SIGNUP.EMAIL_PLACEHOLDER' | translate">
        </ion-input>
      </ion-item>
      <ion-text
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
        <p class="error">{{ 'SIGNUP.EMAIL_ERROR' | translate }}</p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon (click)="onChange()"
          [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'"
          slot="end"
          [color]="isTypePassword ? 'medium' : 'primary'">
        </ion-icon>
        <ion-input
          formControlName="password"
          [type]="isTypePassword ? 'password' : 'text'"
          [placeholder]="'SIGNUP.PASSWORD_PLACEHOLDER' | translate">
        </ion-input>
      </ion-item>
      <ion-text
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
        <p
          class="error"
          *ngIf="signupForm.get('password').invalid && signupForm.get('password').errors['required']">
          {{ 'SIGNUP.PASSWORD_REQUIRED' | translate }}
        </p>
        <p
          class="error"
          *ngIf="signupForm.get('password').dirty">
          {{ 'SIGNUP.PASSWORD_MINLENGTH' | translate }}
        </p>
      </ion-text>

      <ion-row class="ion-margin-vertical">
        <ion-col size="12" class="alignItems">
          <div align=left>
            <ion-checkbox></ion-checkbox>
            <ion-note>{{ 'SIGNUP.ACCEPT_TERMS' | translate }}</ion-note>
          </div>
        </ion-col>
      </ion-row>
      <ion-button *ngIf="!isLoading" color="primary" shape="round" (click)="onSubmit()">{{ 'SIGNUP.SUBMIT' | translate }}</ion-button>
      <ion-button fill="clear" *ngIf="isLoading">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </ion-button>
    </ion-list>
  </form>
</ion-content>
