<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/forgot-password"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'RESET.TITLE_BAR' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="reset-container">
    <h1>{{ 'RESET.TITLE' | translate }}</h1>
    <p class="subtitle">{{ 'RESET.SUBTITLE' | translate }}</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <ion-item lines="none" class="field">
        <ion-icon slot="start" name="key-outline"></ion-icon>
        <ion-input
          formControlName="token"
          type="text"
          autocapitalize="off"
          autocomplete="off"
          [attr.aria-label]="'RESET.TOKEN_PLACEHOLDER' | translate"
          [placeholder]="'RESET.TOKEN_PLACEHOLDER' | translate"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="form.get('token')?.touched && form.get('token')?.invalid">
        <p class="error">{{ 'RESET.TOKEN_REQUIRED' | translate }}</p>
      </ion-text>

      <ion-item lines="none" class="field">
        <ion-icon
          slot="start"
          [name]="showPassword ? 'lock-open-outline' : 'lock-closed-outline'"
        ></ion-icon>
        <ion-input
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          autocomplete="new-password"
          [attr.aria-label]="'RESET.PASSWORD_PLACEHOLDER' | translate"
          [placeholder]="'RESET.PASSWORD_PLACEHOLDER' | translate"
        ></ion-input>
        <ion-button
          slot="end"
          fill="clear"
          size="small"
          type="button"
          (click)="showPassword = !showPassword"
        >
          {{ (showPassword ? 'COMMON.HIDE' : 'COMMON.SHOW') | translate }}
        </ion-button>
      </ion-item>
      <ion-text color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        <p class="error">{{ 'RESET.PASSWORD_ERROR' | translate }}</p>
      </ion-text>

      <ion-item lines="none" class="field">
        <ion-icon
          slot="start"
          [name]="showConfirmPassword ? 'lock-open-outline' : 'lock-closed-outline'"
        ></ion-icon>
        <ion-input
          formControlName="confirmPassword"
          [type]="showConfirmPassword ? 'text' : 'password'"
          autocomplete="new-password"
          [attr.aria-label]="'RESET.CONFIRM_PLACEHOLDER' | translate"
          [placeholder]="'RESET.CONFIRM_PLACEHOLDER' | translate"
        ></ion-input>
        <ion-button
          slot="end"
          fill="clear"
          size="small"
          type="button"
          (click)="showConfirmPassword = !showConfirmPassword"
        >
          {{ (showConfirmPassword ? 'COMMON.HIDE' : 'COMMON.SHOW') | translate }}
        </ion-button>
      </ion-item>
      <ion-text
        color="danger"
        *ngIf="
          (form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid) ||
          (form.touched && form.errors?.['passwordMismatch'])
        "
      >
        <p class="error">
          {{ 'RESET.MISMATCH' | translate }}
        </p>
      </ion-text>

      <ion-button
        expand="block"
        shape="round"
        type="submit"
        class="submit-btn"
        [disabled]="isSubmitting"
      >
        <ng-container *ngIf="!isSubmitting">{{ 'RESET.SUBMIT' | translate }}</ng-container>
        <ion-spinner *ngIf="isSubmitting" name="crescent"></ion-spinner>
      </ion-button>
    </form>
  </div>
</ion-content>
