<ion-header>
  <ion-toolbar color="success">
    <ion-title>Edit Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!loading; else loadingTpl">
    <form [formGroup]="profileForm" (ngSubmit)="save()">
      <ion-list>
        <div>
          <ion-avatar class="profile-avatar">
            <img
              [src]="profileForm.value.photoURL || 'assets/default-profile.png'"
              alt="Photo de profil"
              loading="lazy"
              decoding="async" />
          </ion-avatar>
          <div class="icon-container">
            <ion-icon class="add" color="win" name="add-circle-outline"></ion-icon>
          </div>
        </div>

        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <strong><ion-input formControlName="firstName" required></ion-input></strong>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <strong><ion-input formControlName="lastName" required></ion-input></strong>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <strong><ion-input formControlName="username" required></ion-input></strong>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Institution</ion-label>
          <strong><ion-input formControlName="institution"></ion-input></strong>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Country</ion-label>
          <strong><ion-input formControlName="country"></ion-input></strong>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Speciality</ion-label>
          <strong><ion-input formControlName="typeMedecin"></ion-input></strong>
        </ion-item>

        <ion-item>
          <ion-label position="floating">City</ion-label>
          <strong><ion-input formControlName="city"></ion-input></strong>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Bio</ion-label>
          <strong><ion-textarea formControlName="bio"></ion-textarea></strong>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Photo URL</ion-label>
          <strong><ion-input formControlName="photoURL"></ion-input></strong>
        </ion-item>
      </ion-list>

      <ion-text color="danger" *ngIf="errorMessage">
        <p class="text-center">{{ errorMessage }}</p>
      </ion-text>

      <ion-button expand="block" type="submit" [disabled]="saving">{{ saving ? 'Saving...' : 'Enregistrer' }}</ion-button>
      <ion-button expand="block" fill="outline" routerLink="/tabs/dashbord">Annuler</ion-button>
      <ion-button expand="block" color="danger" (click)="logout()" [disabled]="isSigningOut">
        {{ isSigningOut ? 'Signing out...' : 'Sign out' }}
      </ion-button>
    </form>
  </ng-container>

  <ng-template #loadingTpl>
    <ion-spinner class="spinner-center"></ion-spinner>
    <p class="text-center">Chargement du profil...</p>
  </ng-template>
</ion-content>
