<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom" color="success" [class.tabbar-hidden]="chrome.hidden$ | async">
    <ion-tab-button class="let" tab="dashbord">
      <ion-icon
        color="primary"
        [name]="selectedTab === 'dashbord' ? 'home' : 'home-outline'"
      ></ion-icon>
      {{ 'TABS.HOME' | translate }}
    </ion-tab-button>
    <ion-tab-button class="let" tab="pushpub">
      <ion-icon
        color="primary"
        [name]="selectedTab === 'pushpub' ? 'add' : 'add-outline'"
      ></ion-icon>
      {{ 'TABS.PUBLISH' | translate }}
    </ion-tab-button>
    <ion-tab-button class="let" tab="home">
      <ion-icon
        color="primary"
        [name]="selectedTab === 'home' ? 'chatbubble-ellipses' : 'chatbubbles-outline'"
      ></ion-icon>
      {{ 'TABS.MESSAGES' | translate }}
    </ion-tab-button>
    <ion-tab-button class="let" tab="profils">
      <ion-icon
        color="primary"
        [name]="selectedTab === 'profils' ? 'person' : 'person-outline'"
      ></ion-icon>
      {{ 'TABS.PROFILE' | translate }}
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
