<ion-content [fullscreen]="true">
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div>
  <div class="circleBase type2 circle2"></div>

  <ion-label class="welcomeMessage">
    <ion-text color="light">{{ 'LOGIN.WELCOME_BACK' | translate }}</ion-text>
    <ion-text color="light">
      <p>{{ 'LOGIN.TITLE' | translate }}</p>
    </ion-text>
  </ion-label>

  <div class="login-logo-wrapper">
    <img
      src="assets/images/logo-onehealth-in-cameroon.png"
      alt="Onehealth logo"
      class="login-logo"
      loading="eager"
      fetchpriority="high"
      decoding="async"
    />
  </div>

  <form [formGroup]="form">
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
      <ion-item class="ion-margin-vertical">
        <ion-icon
          name="mail-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input
          formControlName="email"
          type="email"
          inputmode="email"
          autocomplete="email"
          [attr.aria-label]="'LOGIN.EMAIL_PLACEHOLDER' | translate"
          [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate">
        </ion-input>
      </ion-item>
      <ion-text
        class="ion-text-left"
        color="danger"
        *ngIf="!form.get('email').valid && form.get('email').touched">
        <p class="error">{{ 'LOGIN.EMAIL_ERROR' | translate }}</p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon (click)="onChange()"
          role="button"
          tabindex="0"
          class="pwd-toggle"
          [attr.aria-label]="'LOGIN.TOGGLE_PASSWORD' | translate"
          [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'"
          slot="end"
          [color]="isTypePassword ? 'medium' : 'primary'">
        </ion-icon>
        <ion-input
          formControlName="password"
          [type]="isTypePassword ? 'password' : 'text'"
          autocomplete="current-password"
          [attr.aria-label]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
          [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate">
        </ion-input>
      </ion-item>
      <ion-text
        class="ion-text-left"
        color="danger"
        *ngIf="!form.get('password').valid && form.get('password').touched">
        <p
          class="error"
          *ngIf="form.get('password').invalid && form.get('password').errors['required']">
          {{ 'LOGIN.PASSWORD_REQUIRED' | translate }}
        </p>
        <p
          class="error"
          *ngIf="form.get('password').dirty">
          {{ 'LOGIN.PASSWORD_MINLENGTH' | translate }}
        </p>
      </ion-text>

      <ion-row class="ion-margin-vertical">
        <ion-col size="6" class="alignItems">
          <div align=left>
            <ion-checkbox></ion-checkbox>
            <ion-note>{{ 'LOGIN.REMEMBER_ME' | translate }}</ion-note>
          </div>
        </ion-col>
        <ion-col size="6">
          <div align=right>
            <ion-note class="link" fill="clear" routerLink="/forgot-password">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</ion-note>
          </div>
        </ion-col>
      </ion-row>
      <ion-button color="primary" shape="round" [disabled]="isLogin" (click)="onSubmit()">
        <ion-spinner *ngIf="isLogin" name="crescent" slot="start"></ion-spinner>
        {{ 'LOGIN.SUBMIT' | translate }}
      </ion-button>

      <div class="google-block" *ngIf="showGoogleButton">
        <div class="divider"><span>{{ 'LOGIN.OR' | translate }}</span></div>
        <div id="google-signin-btn" class="google-btn-container"></div>
        <ion-spinner *ngIf="isGoogleLoading" name="crescent" class="google-spinner"></ion-spinner>
      </div>

      <p class="signup">
        <ion-note>
          {{ 'LOGIN.NO_ACCOUNT' | translate }} <ion-text class="link" (click)="navigateToSignup()" color="primary">{{ 'LOGIN.SIGN_UP' | translate }}</ion-text>
        </ion-note>
      </p>
    </ion-list>
  </form>
</ion-content>
