<ion-content [fullscreen]="true">
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div>
  <div class="circleBase type2 circle2"></div>

  <ion-label class="welcomeMessage">
    <ion-text color="light">Hello Dr,</ion-text>
    <ion-text color="light">
      <p>Sign Up!</p>
    </ion-text>
  </ion-label>

  <ion-icon name="arrow-back-outline" color="light" class="backButton" (click)="navigateToLogin()"></ion-icon>

  <form [formGroup]="signupForm">
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
      <ion-item class="ion-margin-vertical">
        <ion-icon name="person-outline" slot="end" color="medium"></ion-icon>
        <ion-input formControlName="firstName" placeholder="Enter First Name"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-icon name="person-outline" slot="end" color="medium"></ion-icon>
        <ion-input formControlName="lastName" placeholder="Enter Last Name"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-icon name="business-outline" slot="end" color="medium"></ion-icon>
        <ion-input formControlName="institution" placeholder="Enter Institution"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-icon name="person-outline" slot="end" color="medium"></ion-icon>
        <ion-input formControlName="username" placeholder="Enter Username Exp: Dr Takal"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-select formControlName="typeMedecin" placeholder="Choose a Spe">
          <ion-select-option value="Generaliste">Generaliste</ion-select-option>
          <ion-select-option value="Dentiste">Dentiste</ion-select-option>
          <ion-select-option value="Ophtamologue">Ophtalmo</ion-select-option>
          <ion-select-option value="Cardiologue">Cardiologue</ion-select-option>
          <ion-select-option value="Dermatologue">Dermatologue</ion-select-option>
          <ion-select-option value="ORL">ORL</ion-select-option>
          <ion-select-option value="Gynecologue">Gynecologue</ion-select-option>
          <ion-select-option value="Vet">Veterinaire</ion-select-option>
          <ion-select-option value="Ing">Ingenieur</ion-select-option>
          <ion-select-option value="Bio">Biologiste</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-label>Country</ion-label>
        <ion-select formControlName="country" (ionChange)="onCountryChange($event.detail.value)">
          <ion-select-option *ngFor="let country of countries; trackBy: trackByCountryId" [value]="country.name">
            {{ country.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-label>City</ion-label>
        <ion-select formControlName="city">
          <ion-select-option *ngFor="let city of cities; trackBy: trackByCityName" [value]="city.name">
            {{ city.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="ion-margin-vertical phone-field">
        <ion-select
          class="phone-code-select"
          formControlName="phoneCountryId"
          interface="popover"
          (ionChange)="onPhoneCountryChange($event.detail.value)"
        >
          <ion-select-option *ngFor="let country of countries; trackBy: trackByCountryId" [value]="country.id">
            {{ country.flag }} {{ country.id }} {{ country.dialCode }}
          </ion-select-option>
        </ion-select>
        <ion-input formControlName="phone" type="tel" placeholder="Phone number"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-icon name="mail-outline" slot="end" color="medium"></ion-icon>
        <ion-input formControlName="email" placeholder="Enter Email Address"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical">
        <ion-icon
          (click)="onChange()"
          [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'"
          slot="end"
          [color]="isTypePassword ? 'medium' : 'primary'"
        ></ion-icon>
        <ion-input
          formControlName="password"
          [type]="isTypePassword ? 'password' : 'text'"
          placeholder="Enter Password"
        ></ion-input>
      </ion-item>

      <ion-row class="ion-margin-vertical">
        <ion-col size="12" class="alignItems">
          <div align="left">
            <ion-checkbox></ion-checkbox>
            <ion-note>I accept the policy and terms</ion-note>
          </div>
        </ion-col>
      </ion-row>

      <ion-button *ngIf="!isLoading" color="primary" shape="round" (click)="onSubmit()">Sign Up</ion-button>
      <ion-button fill="clear" *ngIf="isLoading">
        <ion-spinner name="crescent" color="light"></ion-spinner>
      </ion-button>

      <ion-text color="danger" *ngIf="errorMessage">
        <p class="error">{{ errorMessage }}</p>
      </ion-text>
    </ion-list>
  </form>
</ion-content>
