<ion-header class="edit-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="cancel()" aria-label="Retour">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'EDIT_PROFILE.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="edit-content">
  <ng-container *ngIf="!loadingProfile; else loading">
    <form class="edit-form" (ngSubmit)="updateProfile()">
      <section class="hero-card">
        <button type="button" class="avatar-wrap" (click)="changeProfilePicture()">
          <ion-avatar class="profile-avatar">
            <img [src]="photoURL" alt="Photo de profil" loading="lazy" decoding="async" />
          </ion-avatar>
          <span class="avatar-badge">
            <ion-icon name="camera-outline"></ion-icon>
          </span>
        </button>
        <h2>{{ user.firstName || ('EDIT_PROFILE.DEFAULT_FIRST' | translate) }} {{ user.lastName || ('EDIT_PROFILE.DEFAULT_LAST' | translate) }}</h2>
        <p>{{ 'EDIT_PROFILE.TAP_PHOTO' | translate }}</p>
      </section>

      <section class="form-card">
        <h3>{{ 'EDIT_PROFILE.SECTION_BASIC' | translate }}</h3>
        <ion-item lines="none">
          <ion-label position="stacked">{{ 'EDIT_PROFILE.FIRST_NAME' | translate }}</ion-label>
          <ion-input [(ngModel)]="user.firstName" name="firstName" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">{{ 'EDIT_PROFILE.LAST_NAME' | translate }}</ion-label>
          <ion-input [(ngModel)]="user.lastName" name="lastName" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">{{ 'EDIT_PROFILE.USERNAME' | translate }}</ion-label>
          <ion-input [(ngModel)]="user.username" name="username" required></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">{{ 'EDIT_PROFILE.INSTITUTION' | translate }}</ion-label>
          <ion-input [(ngModel)]="user.institution" name="institution"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">{{ 'EDIT_PROFILE.SPECIALTY' | translate }}</ion-label>
          <ion-select [(ngModel)]="user.typeMedecin" name="typeMedecin" interface="popover">
            <ion-select-option *ngFor="let option of typeMedecinOptions" [value]="option">
              {{ option }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </section>

      <section class="form-card">
        <h3>{{ 'EDIT_PROFILE.SECTION_CONTACT' | translate }}</h3>
        <ion-item lines="none">
          <ion-label position="stacked">{{ 'EDIT_PROFILE.COUNTRY' | translate }}</ion-label>
          <ion-select
            [(ngModel)]="user.country"
            name="country"
            interface="popover"
            (ionChange)="onCountryChange($event.detail.value)"
          >
            <ion-select-option
              *ngFor="let country of countries; trackBy: trackByCountryId"
              [value]="country.name"
            >
              {{ country.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked">{{ 'EDIT_PROFILE.CITY' | translate }}</ion-label>
          <ion-select
            [(ngModel)]="user.city"
            name="city"
            interface="popover"
            [disabled]="!cities.length"
          >
            <ion-select-option *ngFor="let city of cities; trackBy: trackByCityName" [value]="city.name">
              {{ city.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="phone-field">
          <ion-select
            class="phone-code-select"
            [(ngModel)]="phoneCountryId"
            name="phoneCountryId"
            interface="popover"
            (ionChange)="onPhoneCountryChange($event.detail.value)"
          >
            <ion-select-option *ngFor="let country of countries; trackBy: trackByCountryId" [value]="country.id">
              {{ country.flag }} {{ country.id }} {{ country.dialCode }}
            </ion-select-option>
          </ion-select>
          <ion-input
            [(ngModel)]="localPhone"
            name="phone"
            type="tel"
            [placeholder]="'EDIT_PROFILE.PHONE_PLACEHOLDER' | translate"
          ></ion-input>
        </ion-item>
      </section>

      <section class="form-card">
        <h3>{{ 'EDIT_PROFILE.SECTION_BIO' | translate }}</h3>
        <ion-item lines="none">
          <ion-label position="stacked">{{ 'EDIT_PROFILE.BIO' | translate }}</ion-label>
          <ion-textarea
            [(ngModel)]="user.bio"
            name="bio"
            autoGrow="true"
            [maxlength]="bioMaxLength"
            [placeholder]="'EDIT_PROFILE.BIO_PLACEHOLDER' | translate"
          ></ion-textarea>
        </ion-item>
        <p class="counter">{{ bioLength }}/{{ bioMaxLength }}</p>
      </section>

      <div class="actions">
        <ion-button type="submit" expand="block" [disabled]="savingProfile">
          {{ (savingProfile ? 'EDIT_PROFILE.SAVING' : 'COMMON.SAVE') | translate }}
        </ion-button>
        <ion-button type="button" expand="block" fill="outline" (click)="cancel()">
          {{ 'COMMON.CANCEL' | translate }}
        </ion-button>
      </div>
    </form>
  </ng-container>

  <ng-template #loading>
    <div class="loading-wrap">
      <ion-spinner></ion-spinner>
      <p>{{ 'EDIT_PROFILE.LOADING' | translate }}</p>
    </div>
  </ng-template>
</ion-content>
